# This is Git's per-user configuration file.
[user]
    name = Jasmine Thomson-Cooke
    email = jasmine@stp.dias.ie
[advice]
    detachedHead = false
[push]
    autoSetupRemote = true
    default = current
[core]
	editor = vim
